body {
 background-image: url(https://images.ctfassets.net/75018eualgmp/5evCjUAeqoT7SKRNVhouC7/d296bf4919cb58808f77e8412071a139/_______________________.jpg?w=3330);
 background-size: cover;
 background-attachment: fixed;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');



h1 {
  color: #FFFFFF;
  background-color: #000000A6;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF7D;
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: #FFFFFF;
  background-color: #000000A6;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF7D;
  font-family: 'Roboto', sans-serif;
}
h4 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
h3 {
  color: #FFFFFF;
  background-color: #000000A6;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF7D;
}


header, footer {
  background-color: #000000A6;
  padding: 10px;
  width: 1243px;

  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF7D;
}

main {
  padding: 10px;
  background-color: #000000A6;
  width: 1243px
}
.stattja{
  width: 20%;
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.post {
  background-color: #000000A6;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF7D;
}

.post img {
  margin: 5px;
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
    margin: 20px; 
}

#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}

#menu1 ul{
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  list-style: none;
}

#menu1 > ul::after{
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  content: " ";
}

#menu1 ul li{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
}

#menu1 ul li a{
  display: block;
  padding: 9px 25px 0px 25px;
  font-size: 14px;
  line-height: 1.3em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  box-sizing: border-box;
  color: white;
}

#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background: #000000;
}

#menu1 ul li:hover ul{
  display: block;
}

#menu1 ul li ul li{
  float: none;
  width: 100%;
}

#menu1 ul li ul li a{
  display: block;
  text-transform: none;
  height: auto;
  padding: 7px 25px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #FFFFFF7D;
  color: white;
}
.carousele{
margin: 10px;
}
.carousele div img{
width: 50%
}